body {
    background-color: rgb(62, 214, 252);
    font-family: Arial;
}

h1 {
    color: rgb(27, 91, 202);
    text-align: center;
}

h2 {
    color: rgb(2, 58, 57);
    text-align: center;
}


p {
    color: rgb(0, 0, 0);
    font-size: 18px;
}

h3 {
    color: rgb(126, 127, 135);
    text-align: center;
    font-size: 30px;
}

.foto {
    width: 300px;
    border-radius: 20px;
    border: 4px solid rgb(0, 0, 0);
    display: block;
    margin: auto;
};